.segment {
	background: none !important;
	border: none !important;
	box-shadow: none !important;
	/* border: 2px solid red !important; */
	margin: 100px auto !important;
}
input[type='text'] {
	border: 2px solid rgba(100, 148, 237, 0.527) !important;
	font-size: 1.3rem !important;
	color: #353535 !important;
}

input[type='text']:focus {
	border: 3px solid cornflowerblue !important;
}

input::placeholder {
	color: #9c9c9c !important;
}
